h1,h2,h3 {
  margin: 0;
  align-self: center;
}
.header{
  height: auto;
  background-color: #26a69a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.search {
  width: 100%;
  margin: auto;
  padding: 40px;
}
.search button{
  margin: auto;
  display: block;
}
.search input{
  margin-bottom: 20px;
}
.App{
  background-color: #f9f9f9;
  padding-bottom: 30px;
}
.card{
  width: 70%;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}
.card h1{
  text-align: center;
  font-family: arial;
}
.card p{
  text-align: justify;
  font-size: 20px;
}
.card button{
  margin: auto;
  display: block;
}
.card img{
  display: block;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
a{
  color: white;
  align-self: center;
}
.holder p {
  text-align: center;
}
.card h3{
  text-align: center;
}
button{
  width: 30%!important;
  display: flex!important;
  flex-direction: row!important;
  justify-content: space-evenly!important;
}